# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install Poetry
      run: |
        curl -sSL https://install.python-poetry.org | python3 -
        source $HOME/.poetry/env
        export PATH="$HOME/.poetry/bin:$PATH"
      env:
        POETRY_HOME: $HOME/.poetry
    - name: Install dependencies
      run: |
        poetry install

    - name: Lint
      run: |
        make lint
    - name: Test with pytest
      run: |
        make test
